body{
    background-color: #c2e9f8;
}

h1{
  margin-top: 250px;
   font-size: 70px;
   padding-left: 100px;
   
}
p{
    font-size: 30px;
    padding-left: 100px;
    width: 100%;

}

#button{
   background-color:#3c74a5; 
   width: 380px;
   height: 60px;
   margin-left: 0px;
   border-radius: 100px;
   font-size: 25px;
   margin-top: 700px;
   margin-right: 100px;
   text-decoration: none;
   color: white;
}
#landpage{
  display: flex;
  justify-content: space-around;
 
}
#start{
    margin-top: 0px;
    gap: 1%;
}
#image{
margin-top: 50px;
height: 700px;
width: 950px;

}
a{
    text-decoration: none;
    color: white;
}
